.cell-status {
  display: flex;
  align-items: center;

  &--icon {
    border-radius: 50%;
    width: 12px;
    height: 12px;

    &_hidden {
      background-color: transparent;
    }
    &_visible {
      // todo make a _colors.scss file & store + import there
      background-color: green;
    }
  }
}